<h2>Weather Forecast for next 10 days in Popular cities</h2>

<table *ngFor="let city of cities">


   <tr>
  	<td>
  		city: {{city.city}}
  	</td>
  </tr>  


  <tr *ngFor="let date of city.simpleforecast.forecastday">
  		<td>
  			date: {{ date.date.pretty }}
  		</td>
  		<td>
  			high: {{ date.high.fahrenheit}}F : {{ date.high.celsius}}C
  		</td>
  		<td>
  			low: {{ date.low.fahrenheit}}F : {{ date.low.celsius}}C
  		</td>
  </tr> 
  
</table>
