<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Weather Forecasting App
	</h1>
</div>
<nav>
	<a routerLink="/cities" >Cities</a>
	<a routerLink="/forecast">Forecast</a>
</nav>

<router-outlet></router-outlet>